resources:
- policy.open-cluster-management.io_operatorpolicies.yaml

patches:
# The OperatorPolicy currently only supports "musthave"
- path: allowed-compliance-types.json
  target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: operatorpolicies.policy.open-cluster-management.io
- path: template-label.json
  target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: operatorpolicies.policy.open-cluster-management.io
- path: remove-diff.json
  target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: operatorpolicies.policy.open-cluster-management.io
